
<h1>編集画面</h1>

<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="container">
    <ul class="row">
        <ul class="list-group">
            <li class="col-xs-12 col-md-12">
              <th><%= form.label :title %></th><th><%= form.text_field :title %></th>
              <th><%= form.label :content %></th><th><%= form.text_field :content %></th>
              <th><%= form.label :image %><%= image_tag(@blog.image.url) if @blog.image.url %><%= form.file_field :image %></th>
            </li>
        </ul>
    </ul>
    <button class="btn" type="submit">更新する</button>
  </div>


<% end %>
