<h1>Picture</h1>
<p><%= notice %></p>
<a class="btn active" href="blogs/new" role="button">投稿する</a>
<div class="container">
  <ul class="row">
    <% @blogs.each do |blog| %>
      <ul class="list-group">
          <li class="col-xs-12 col-md-2"><%= blog.user.name %><p><p><%= link_to '詳細', blog_path(blog.id) %>
            <% if blog.user_id == current_user.id %>
              <%= link_to '編集', edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %> <%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
            <% end %>
          </li>
    <% end %>
      </ul>
  </ul>
</div>
