<h3>以下の内容で、登録する。</h3>

<div class="container">

<%= form_with(model: @user, url: users_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :password %>
  <%= form.hidden_field :password_confirmation %>
  <%= form.hidden_field :image_cache %>

    <ul class="row">
        <ul class="list-group2">
            <li class="col-xs-12 col-md-12">
              名前：<%= @user.name %>
            </li>
            <li class="col-xs-12 col-md-12">
              メールアドレス：<%= @user.email %>
            </li>
            <li class="col-xs-12 col-md-12">
              <%= image_tag(@user.image.url) unless @user.image.blank? %>
            </li>
        </ul>
    </ul>
    <button class="btn" type="submit">登録する</button><p>

<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :password %>
  <%= form.hidden_field :password_confirmation %>
  <%= form.hidden_field :image_cache %>
  <button class="btn" type="submit" name="back" >もどる</button>
<% end %>

</div>
